# Lectures 17-19

## Getting Started with Jupyter Notebook

There are two main types of cells in Jupyter notebook. This is an example of a markdown cell. All this means, is that this cell does not run code. It is used for text, images, links, etc.

 - To create a new cell, press `esc` and then `b` for a cell below, or `a` for a cell above
 - To toggle between code cells and markdown cells, press `m` for markdown, or `y` for code.

In [1]:
#this is an example of a code cell
#notice that I'm writing this is a comment
2+2    #lines not printed won't necessarily show. Depends on the operation/function
print(3**5)
print(6/4)

8%5    #the remainder of 8, when divided by 5

243
1.5

3

If you're familiar with HTML, many of the same tricks work here. For example, here is how I could change text...
* `__bold__` gives __bold__
* `___it___` gives ___it___
* `<font color = red> RED </font>` gives <font color = red> RED </font>

If you're familiar with LaTeX, you can typeset math by wrapping your code in $$...
 - `$\sin(x)$` gives $\sin(x)$
 - `$\displaystyle \int_0^1 e^x dx$` gives $\displaystyle \int_0^1 e^x dx$
 - `$\displaystyle \sum_{k=0}^{\infty} \frac{1}{k^2} = \frac{\pi^2}{6}$` gives $\displaystyle \sum_{k=0}^{\infty} \frac{1}{k^2} = \frac{\pi^2}{6}$

## Python Data Types

Our first Python unit introduces a number of new data types, and a few familiar ones. It may seem that Python has an endless number of data types, but focus this week on really understanding the data types that are presented. In upcoming units, we may see less common data types that are presented once or twice, just as a way to show you that they exist.

### lists and strings
Why start here? On the surface, lists and strings seem very different, but we will soon see they have many similarities...

In [2]:
s = "Hello World" #no error, and no output

In [3]:
type(s)

str

In [4]:
print(s)

Hello World

In [5]:
s2 = 'Hello World' #notice single quotes
type(s2)

str

In [6]:
print(s2)

Hello World

Single quotes and double quotes in Python have no difference. The convention is to pick one and stick to it.

In [7]:
s3 = 'Professor Smith says "hello"'
print(s3)

Professor Smith says "hello"

Single quotes on the outside allows for double quotes on the inside. And vice versa.

In [8]:
mylist = [3,1,'hello',1]  #Can mix types in a list

In [9]:
type(mylist)

list

In [10]:
mylist2 = [3 1 4 1] #Notice, I have to use commas

SyntaxError: invalid syntax. Perhaps you forgot a comma? (2145540522.py, line 1)

In [11]:
mylist

[3, 1, 'hello', 1]

Here is a big difference from our MATLAB unit: <font color = red> Indexing in Python starts at 0!</font>

In [12]:
mylist

[3, 1, 'hello', 1]

In [13]:
mylist[2]

'hello'

In [14]:
len(mylist)

4

In [15]:
s

'Hello World'

In [16]:
s[0]

'H'

In [17]:
s[1]

'e'

In [18]:
len(s)

11

What goes wrong in this next example is that `s` ___does___ have 11 elements, but they are indexed from 0 to 10. There is no index 11. Notice also that the space counts as an element.

In [19]:
s[len(s)] #s[11]

IndexError: string index out of range

So what if I actually did want to get the last element? Here are a few different ways.

In [20]:
s[len(s)-1]

'd'

In [21]:
s

'Hello World'

In [22]:
s[-1] #this gives the last element! Start counting backwards at -1

'd'

In [23]:
s[-2] #2nd to last letter

'l'

In [24]:
s[-3]  #3rd to last letter

'r'

In [25]:
mylist

[3, 1, 'hello', 1]

In [26]:
mylist[-1]

1

In [27]:
mylist[-4]

3

In [28]:
print('python'+" "+'math')# concatenation of strings

python math

In [29]:
[1,2,3]+['python','math'] # concatenation of lists

[1, 2, 3, 'python', 'math']

### Slicing
Slicing should remind you a lot of the colon command from MATLAB. Indeed, it is quite similar, but with a few key syntax differences.

In [30]:
s

'Hello World'

In [31]:
#Start at the entry of index 1, and go up to, but don't include
#the entry of index 4
s[1:4]

'ell'

In [32]:
s[:5] #Take the first 5 elements

'Hello'

In [33]:
s[0:5]

'Hello'

In [34]:
s[3:] #start at index 3, and go all the way to the end

'lo World'

In [35]:
s[3:-1] #start at index 3, leave off the end element. Still counts by 1

'lo Worl'

A big difference in slicing with Python, step is last! `s[beginning:end(not included):step]`

In [36]:
s[1::3]

'eood'

In [37]:
s[-1:0] #tries to reach from end to beginning, stepping by +1. But this is impossible, so the string is empty

''

In [38]:
s[-1::-1] #tries to reach from end to beginning, stepping by -1

'dlroW olleH'

All of this slicing works exactly the same for lists.

In [39]:
#Start at index 1, go up to, but don't include index 7,
#count by 2
print(s)
s[1:7:2]

Hello World

'el '

In [40]:
print(s)
s[1:8:2]

Hello World

'el o'

In [41]:
#Start at index 0, go to the end, count by 2
print(s)
s[::2]

Hello World

'HloWrd'

In [42]:
#What if we want the complement?
text = s[1::2]
print(text)

el ol

In [43]:
text.upper() #needs the parentheses, otherwise this is just a function

'EL OL'

In [44]:
text.upper

In [45]:
text.lower()

'el ol'

In [46]:
text.capitalize()

'El ol'

In [47]:
print(text)  #Text not affected.

el ol

### lists, tuples, and sets
We've already seen lists, but now we contrast them with two other data types that seem very similar, at least on the surface.

In [48]:
mylist = [3,1,4,1]
mytuple = (3,1,4,1)
myset = {3,1,4,1}

In [49]:
type(mylist)

list

In [50]:
type(mytuple)

tuple

In [51]:
type(myset)

set

Set is really like sets in the Math 13 sense...
 - No duplicates
 - No ordering

In [52]:
#no duplicates
myset

{1, 3, 4}

In [53]:
#no order
myset[0]

TypeError: 'set' object is not subscriptable

In [54]:
mytuple[0]

3

In [55]:
mylist[0]

3

In [56]:
len(mytuple)

4

In [57]:
len(mylist)

4

In [58]:
len(myset)

3

__Key fact:__ Lists can be changed once they are made. Lists are called ___mutable___.  Tuples are __immutable__

In [59]:
mylist = [3,1,4,1]

In [60]:
mylist[2] = 'newstring'
mylist[3] = []
mylist[0] = [2, 3, 7, 52]
mylist

[[2, 3, 7, 52], 1, 'newstring', []]

In [61]:
mylist[3] = [2, 3, 5]
print(mylist)
print(len(mylist))

[[2, 3, 7, 52], 1, 'newstring', [2, 3, 5]]
4

In [62]:
mytuple

(3, 1, 4, 1)

In [63]:
mytuple[2] = 19

TypeError: 'tuple' object does not support item assignment

In [64]:
mylist[5] = 3  #cannot assign a 5th element like in Matlab

IndexError: list assignment index out of range

In [65]:
mylist.append([10,2])
mylist

[[2, 3, 7, 52], 1, 'newstring', [2, 3, 5], [10, 2]]

In [66]:
mytuple.append(10)

AttributeError: 'tuple' object has no attribute 'append'

After the past few examples, you might be tempted to think that list is better than tuple! Let me now convince you that this is not the case, and that these distinct data types serve distinct purposes...

In [67]:
newset = {3,1,(4,1),(5,1)}
len(newset) #the tuple counts as a single element.

4

In [68]:
newset2 = {3,1,[4,1], [5,1]}

TypeError: unhashable type: 'list'

Since lists are mutable, they cannot be elements of set. What if someone changed the `[5,1]` set to `[4,1]`? The two objects which started out as different would technically be duplicates (but this would be hard for Python to detect efficiently because of how it stores lists in memory).

__Main Takeaway:__ tuples can go in a set and be keys in a dictionary, while lists cannot.

#### Operations on Sets

Just like Math 13, you can calculate Unions, Intersections, Differences, and even Symmetric Differences of sets

In [69]:
A = {0, 2, 4, 6, 8, 11, 21, 5}; 
B = {1, 2, 3, 4, 5, 7, 11, 55}; 
  
# union 
print("Union of A or B :", A | B) 
  
# intersection 
print("Intersection of A and B: ", A & B) 
  
# difference 
print("Difference :", A - B) 
  
# symmetric difference 
print("Symmetric difference, a.k.a Exclusive Or, a.k.a Exclusive Union :", A ^ B) 

#The above also gives a more fancy way to print outputs

Union of A or B : {0, 1, 2, 3, 4, 5, 6, 7, 8, 11, 21, 55}
Intersection of A and B:  {2, 11, 4, 5}
Difference : {0, 8, 21, 6}
Symmetric difference, a.k.a Exclusive Or, a.k.a Exclusive Union : {0, 1, 3, 6, 7, 8, 21, 55}

#### Copying lists (and other mutable objects)

To save on memory, when one more than one variable points to the same list, the two share the same place in memory. This makes editing copies tricky.

In [70]:
a = 1000
b = a
b = 1
print(a)

1000

In [71]:
a = [1000,1]
b = a
b = [1,1]
print(a)

[1000, 1]

In [72]:
a = [1000,1]
b = a #b and a now refer to the same place in memory
b[0] = 1
print(a)
print(b)

[1, 1]
[1, 1]

In [73]:
a = [1000, 1]
b = a
b = [1000, 1]
b[0] = 1
print(a)

[1000, 1]

In [74]:
a = [1,2,3]
b = a.copy()
b[0] = 0
print(a)
print(b)

[1, 2, 3]
[0, 2, 3]

#### List attributes and methods

A method is a function

In [75]:
numbers = [1, 4, 0, 2, 9, 9, 10]
numbers.reverse() # does NOT return a new LIST object! just modify the original list -- remember that list is mutable object
print(numbers) # [10, 9, 9, 2, 0, 4, 1]

[10, 9, 9, 2, 0, 4, 1]

In [76]:
newstr = "test this out"
newstr.reverse()

AttributeError: 'str' object has no attribute 'reverse'

In [77]:
print(newstr)
print(type(newstr))
help(str)

test this out
<class 'str'>
Help on class str in module builtins:

class str(object)
 |  str(object='') -> str
 |  str(bytes_or_buffer[, encoding[, errors]]) -> str
 |
 |  Create a new string object from the given object. If encoding or
 |  errors is specified, then the object must expose a data buffer
 |  that will be decoded using the given encoding and error handler.
 |  Otherwise, returns the result of object.__str__() (if defined)
 |  or repr(object).
 |  encoding defaults to sys.getdefaultencoding().
 |  errors defaults to 'strict'.
 |
 |  Methods defined here:
 |
 |  __add__(self, value, /)
 |      Return self+value.
 |
 |  __contains__(self, key, /)
 |      Return bool(key in self).
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __format__(self, format_spec, /)
 |      Return a formatted version of the string as described by format_spec.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getitem__(self, key, /)
 |      Return self[key].
 |
 |  __getnewargs__(...)
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __hash__(self, /)
 |      Return hash(self).
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __mod__(self, value, /)
 |      Return self%value.
 |
 |  __mul__(self, value, /)
 |      Return self*value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __rmod__(self, value, /)
 |      Return value%self.
 |
 |  __rmul__(self, value, /)
 |      Return value*self.
 |
 |  __sizeof__(self, /)
 |      Return the size of the string in memory, in bytes.
 |
 |  __str__(self, /)
 |      Return str(self).
 |
 |  capitalize(self, /)
 |      Return a capitalized version of the string.
 |
 |      More specifically, make the first character have upper case and the rest lower
 |      case.
 |
 |  casefold(self, /)
 |      Return a version of the string suitable for caseless comparisons.
 |
 |  center(self, width, fillchar=' ', /)
 |      Return a centered string of length width.
 |
 |      Padding is done using the specified fill character (default is a space).
 |
 |  count(...)
 |      S.count(sub[, start[, end]]) -> int
 |
 |      Return the number of non-overlapping occurrences of substring sub in
 |      string S[start:end].  Optional arguments start and end are
 |      interpreted as in slice notation.
 |
 |  encode(self, /, encoding='utf-8', errors='strict')
 |      Encode the string using the codec registered for encoding.
 |
 |      encoding
 |        The encoding in which to encode the string.
 |      errors
 |        The error handling scheme to use for encoding errors.
 |        The default is 'strict' meaning that encoding errors raise a
 |        UnicodeEncodeError.  Other possible values are 'ignore', 'replace' and
 |        'xmlcharrefreplace' as well as any other name registered with
 |        codecs.register_error that can handle UnicodeEncodeErrors.
 |
 |  endswith(...)
 |      S.endswith(suffix[, start[, end]]) -> bool
 |
 |      Return True if S ends with the specified suffix, False otherwise.
 |      With optional start, test S beginning at that position.
 |      With optional end, stop comparing S at that position.
 |      suffix can also be a tuple of strings to try.
 |
 |  expandtabs(self, /, tabsize=8)
 |      Return a copy where all tab characters are expanded using spaces.
 |
 |      If tabsize is not given, a tab size of 8 characters is assumed.
 |
 |  find(...)
 |      S.find(sub[, start[, end]]) -> int
 |
 |      Return the lowest index in S where substring sub is found,
 |      such that sub is contained within S[start:end].  Optional
 |      arguments start and end are interpreted as in slice notation.
 |
 |      Return -1 on failure.
 |
 |  format(...)
 |      S.format(*args, **kwargs) -> str
 |
 |      Return a formatted version of S, using substitutions from args and kwargs.
 |      The substitutions are identified by braces ('{' and '}').
 |
 |  format_map(...)
 |      S.format_map(mapping) -> str
 |
 |      Return a formatted version of S, using substitutions from mapping.
 |      The substitutions are identified by braces ('{' and '}').
 |
 |  index(...)
 |      S.index(sub[, start[, end]]) -> int
 |
 |      Return the lowest index in S where substring sub is found,
 |      such that sub is contained within S[start:end].  Optional
 |      arguments start and end are interpreted as in slice notation.
 |
 |      Raises ValueError when the substring is not found.
 |
 |  isalnum(self, /)
 |      Return True if the string is an alpha-numeric string, False otherwise.
 |
 |      A string is alpha-numeric if all characters in the string are alpha-numeric and
 |      there is at least one character in the string.
 |
 |  isalpha(self, /)
 |      Return True if the string is an alphabetic string, False otherwise.
 |
 |      A string is alphabetic if all characters in the string are alphabetic and there
 |      is at least one character in the string.
 |
 |  isascii(self, /)
 |      Return True if all characters in the string are ASCII, False otherwise.
 |
 |      ASCII characters have code points in the range U+0000-U+007F.
 |      Empty string is ASCII too.
 |
 |  isdecimal(self, /)
 |      Return True if the string is a decimal string, False otherwise.
 |
 |      A string is a decimal string if all characters in the string are decimal and
 |      there is at least one character in the string.
 |
 |  isdigit(self, /)
 |      Return True if the string is a digit string, False otherwise.
 |
 |      A string is a digit string if all characters in the string are digits and there
 |      is at least one character in the string.
 |
 |  isidentifier(self, /)
 |      Return True if the string is a valid Python identifier, False otherwise.
 |
 |      Call keyword.iskeyword(s) to test whether string s is a reserved identifier,
 |      such as "def" or "class".
 |
 |  islower(self, /)
 |      Return True if the string is a lowercase string, False otherwise.
 |
 |      A string is lowercase if all cased characters in the string are lowercase and
 |      there is at least one cased character in the string.
 |
 |  isnumeric(self, /)
 |      Return True if the string is a numeric string, False otherwise.
 |
 |      A string is numeric if all characters in the string are numeric and there is at
 |      least one character in the string.
 |
 |  isprintable(self, /)
 |      Return True if the string is printable, False otherwise.
 |
 |      A string is printable if all of its characters are considered printable in
 |      repr() or if it is empty.
 |
 |  isspace(self, /)
 |      Return True if the string is a whitespace string, False otherwise.
 |
 |      A string is whitespace if all characters in the string are whitespace and there
 |      is at least one character in the string.
 |
 |  istitle(self, /)
 |      Return True if the string is a title-cased string, False otherwise.
 |
 |      In a title-cased string, upper- and title-case characters may only
 |      follow uncased characters and lowercase characters only cased ones.
 |
 |  isupper(self, /)
 |      Return True if the string is an uppercase string, False otherwise.
 |
 |      A string is uppercase if all cased characters in the string are uppercase and
 |      there is at least one cased character in the string.
 |
 |  join(self, iterable, /)
 |      Concatenate any number of strings.
 |
 |      The string whose method is called is inserted in between each given string.
 |      The result is returned as a new string.
 |
 |      Example: '.'.join(['ab', 'pq', 'rs']) -> 'ab.pq.rs'
 |
 |  ljust(self, width, fillchar=' ', /)
 |      Return a left-justified string of length width.
 |
 |      Padding is done using the specified fill character (default is a space).
 |
 |  lower(self, /)
 |      Return a copy of the string converted to lowercase.
 |
 |  lstrip(self, chars=None, /)
 |      Return a copy of the string with leading whitespace removed.
 |
 |      If chars is given and not None, remove characters in chars instead.
 |
 |  partition(self, sep, /)
 |      Partition the string into three parts using the given separator.
 |
 |      This will search for the separator in the string.  If the separator is found,
 |      returns a 3-tuple containing the part before the separator, the separator
 |      itself, and the part after it.
 |
 |      If the separator is not found, returns a 3-tuple containing the original string
 |      and two empty strings.
 |
 |  removeprefix(self, prefix, /)
 |      Return a str with the given prefix string removed if present.
 |
 |      If the string starts with the prefix string, return string[len(prefix):].
 |      Otherwise, return a copy of the original string.
 |
 |  removesuffix(self, suffix, /)
 |      Return a str with the given suffix string removed if present.
 |
 |      If the string ends with the suffix string and that suffix is not empty,
 |      return string[:-len(suffix)]. Otherwise, return a copy of the original
 |      string.
 |
 |  replace(self, old, new, count=-1, /)
 |      Return a copy with all occurrences of substring old replaced by new.
 |
 |        count
 |          Maximum number of occurrences to replace.
 |          -1 (the default value) means replace all occurrences.
 |
 |      If the optional argument count is given, only the first count occurrences are
 |      replaced.
 |
 |  rfind(...)
 |      S.rfind(sub[, start[, end]]) -> int
 |
 |      Return the highest index in S where substring sub is found,
 |      such that sub is contained within S[start:end].  Optional
 |      arguments start and end are interpreted as in slice notation.
 |
 |      Return -1 on failure.
 |
 |  rindex(...)
 |      S.rindex(sub[, start[, end]]) -> int
 |
 |      Return the highest index in S where substring sub is found,
 |      such that sub is contained within S[start:end].  Optional
 |      arguments start and end are interpreted as in slice notation.
 |
 |      Raises ValueError when the substring is not found.
 |
 |  rjust(self, width, fillchar=' ', /)
 |      Return a right-justified string of length width.
 |
 |      Padding is done using the specified fill character (default is a space).
 |
 |  rpartition(self, sep, /)
 |      Partition the string into three parts using the given separator.
 |
 |      This will search for the separator in the string, starting at the end. If
 |      the separator is found, returns a 3-tuple containing the part before the
 |      separator, the separator itself, and the part after it.
 |
 |      If the separator is not found, returns a 3-tuple containing two empty strings
 |      and the original string.
 |
 |  rsplit(self, /, sep=None, maxsplit=-1)
 |      Return a list of the substrings in the string, using sep as the separator string.
 |
 |        sep
 |          The separator used to split the string.
 |
 |          When set to None (the default value), will split on any whitespace
 |          character (including \n \r \t \f and spaces) and will discard
 |          empty strings from the result.
 |        maxsplit
 |          Maximum number of splits.
 |          -1 (the default value) means no limit.
 |
 |      Splitting starts at the end of the string and works to the front.
 |
 |  rstrip(self, chars=None, /)
 |      Return a copy of the string with trailing whitespace removed.
 |
 |      If chars is given and not None, remove characters in chars instead.
 |
 |  split(self, /, sep=None, maxsplit=-1)
 |      Return a list of the substrings in the string, using sep as the separator string.
 |
 |        sep
 |          The separator used to split the string.
 |
 |          When set to None (the default value), will split on any whitespace
 |          character (including \n \r \t \f and spaces) and will discard
 |          empty strings from the result.
 |        maxsplit
 |          Maximum number of splits.
 |          -1 (the default value) means no limit.
 |
 |      Splitting starts at the front of the string and works to the end.
 |
 |      Note, str.split() is mainly useful for data that has been intentionally
 |      delimited.  With natural text that includes punctuation, consider using
 |      the regular expression module.
 |
 |  splitlines(self, /, keepends=False)
 |      Return a list of the lines in the string, breaking at line boundaries.
 |
 |      Line breaks are not included in the resulting list unless keepends is given and
 |      true.
 |
 |  startswith(...)
 |      S.startswith(prefix[, start[, end]]) -> bool
 |
 |      Return True if S starts with the specified prefix, False otherwise.
 |      With optional start, test S beginning at that position.
 |      With optional end, stop comparing S at that position.
 |      prefix can also be a tuple of strings to try.
 |
 |  strip(self, chars=None, /)
 |      Return a copy of the string with leading and trailing whitespace removed.
 |
 |      If chars is given and not None, remove characters in chars instead.
 |
 |  swapcase(self, /)
 |      Convert uppercase characters to lowercase and lowercase characters to uppercase.
 |
 |  title(self, /)
 |      Return a version of the string where each word is titlecased.
 |
 |      More specifically, words start with uppercased characters and all remaining
 |      cased characters have lower case.
 |
 |  translate(self, table, /)
 |      Replace each character in the string using the given translation table.
 |
 |        table
 |          Translation table, which must be a mapping of Unicode ordinals to
 |          Unicode ordinals, strings, or None.
 |
 |      The table must implement lookup/indexing via __getitem__, for instance a
 |      dictionary or list.  If this operation raises LookupError, the character is
 |      left untouched.  Characters mapped to None are deleted.
 |
 |  upper(self, /)
 |      Return a copy of the string converted to uppercase.
 |
 |  zfill(self, width, /)
 |      Pad a numeric string with zeros on the left, to fill a field of the given width.
 |
 |      The string is never truncated.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs)
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  maketrans(...)
 |      Return a translation table usable for str.translate().
 |
 |      If there is only one argument, it must be a dictionary mapping Unicode
 |      ordinals (integers) or characters to Unicode ordinals, strings or None.
 |      Character keys will be then converted to ordinals.
 |      If there are two arguments, they must be strings of equal length, and
 |      in the resulting dictionary, each character in x will be mapped to the
 |      character at the same position in y. If there is a third argument, it
 |      must be a string, whose characters will be mapped to None in the result.

In [78]:
print(numbers)
numbers_reverse = numbers.reverse() # it is the INCORRECT way to reverse a list!!!
print(numbers)
print(numbers_reverse) #Will be blank

[10, 9, 9, 2, 0, 4, 1]
[1, 4, 0, 2, 9, 9, 10]
None

Some list methods not only return the value, but also modify the list in-place (i.e. won't change identity of the list). The pop() method is a very typical example.

In [79]:
print(numbers)
element_pop = numbers.pop(4) # the input is index to delete in the list
print(element_pop)
print(numbers)

[1, 4, 0, 2, 9, 9, 10]
9
[1, 4, 0, 2, 9, 10]

In [80]:
numbers.sort() # sort the list in ascending order
print(numbers) 
numbers.sort(reverse=True)
print(numbers)

[0, 1, 2, 4, 9, 10]
[10, 9, 4, 2, 1, 0]

In [81]:
numbers.sort

In [82]:
help(numbers.sort)

Help on built-in function sort:

sort(*, key=None, reverse=False) method of builtins.list instance
    Sort the list in ascending order and return None.

    The sort is in-place (i.e. the list itself is modified) and stable (i.e. the
    order of two equal elements is maintained).

    If a key function is given, apply it once to each list item and sort them,
    ascending or descending, according to their function values.

    The reverse flag can be set to sort in descending order.

### ranges and for-loops
Our next data type is commonly used with for-loops, and should also remind you of the colon command from MATLAB.

In [83]:
mystring = "Hello World"
mylist = [3,1,4,1]
mytuple = (3,1,4,1)
myset = {3,1,4,1}

Here is the basic syntax for for-loops in Python. Key things to notice:
* The `:` at the end of the first line
* The indentation to enter the for-loop

In [84]:
for x in mylist:
    print(x)

3
1
4
1

In [85]:
for x in mystring:
    print(x)
    print(type(x))
    print(len(x))

H
<class 'str'>
1
e
<class 'str'>
1
l
<class 'str'>
1
l
<class 'str'>
1
o
<class 'str'>
1

<class 'str'>
1
W
<class 'str'>
1
o
<class 'str'>
1
r
<class 'str'>
1
l
<class 'str'>
1
d
<class 'str'>
1

Notice that whatever we take out of the indentation is not executed until after we finish the for-loop.

In [86]:
for x in mystring:
    print(x)

print(x) #x is still persistent outside of the loop
print(type(x))
print(len(x))

H
e
l
l
o

W
o
r
l
d
d
<class 'str'>
1

In [87]:
for x in mytuple:
    print(x)

3
1
4
1

In [88]:
for x in myset:
    print(x)

1
3
4

Based on the above, you may be tempted to think that sets have an order. They do not! You should never base functionality of code on sets having an order.

In [89]:
for i in range(1,6):
    print(i)

1
2
3
4
5

In [90]:
myrange = range(5)
myrange

range(0, 5)

In [91]:
type(myrange)

range

A range is not like a list, the intermediate values (such as 1, 2, 3, 4 in range(0,5)) are not generated all at once. Range objects are used as a computationally efficient way to build for loops. The intermediate values are calculated later, as needed.

In [92]:
myrange2 = range(10,3,-1)
type(myrange2)

range

In [93]:
for x in myrange2:
    print(x)

10
9
8
7
6
5
4

Key observation: range objects must follow a particular pattern, so we can't get digits of $\pi$, for instance...

In [94]:
myrange3 = range(3,1000)
print(myrange3[0])
print(myrange3[4])

3
7

In [95]:
myrange3[-1]

999

In [96]:
myrange3[10:100:4] #notice this returns a range object

range(13, 103, 4)

In [97]:
myrange3[10]

13

In [98]:
len(myrange3)

997

In [99]:
mylist = [[1,2],[3,4]] 

for i,x in enumerate(mylist): # pay attention to the order (i,x)
    print(x)
    print(mylist[i])
    print(i)
    print(i, x, mylist[i])

[1, 2]
[1, 2]
0
0 [1, 2] [1, 2]
[3, 4]
[3, 4]
1
1 [3, 4] [3, 4]

In [100]:
mylist[0][1]

2

In [101]:
print(enumerate(mylist)) #enumerate object is not a list
print(type(enumerate(mylist)))
print(list(enumerate(mylist))) #convert to a list

<enumerate object at 0x0000025948185990>
<class 'enumerate'>
[(0, [1, 2]), (1, [3, 4])]

In [102]:
mysentence = 'strings are also indexed'
print(mysentence[0])
print(list(enumerate(mysentence)))

s
[(0, 's'), (1, 't'), (2, 'r'), (3, 'i'), (4, 'n'), (5, 'g'), (6, 's'), (7, ' '), (8, 'a'), (9, 'r'), (10, 'e'), (11, ' '), (12, 'a'), (13, 'l'), (14, 's'), (15, 'o'), (16, ' '), (17, 'i'), (18, 'n'), (19, 'd'), (20, 'e'), (21, 'x'), (22, 'e'), (23, 'd')]

#### A preview of list comprehension

In [103]:
mylist = [1,2,3,4]

for i in range(len(mylist)):
    mylist[i] = mylist[i]+1

print(mylist)

mylist2 = [x+1 for x in mylist] #creating a new list

print(mylist2)

[2, 3, 4, 5]
[3, 4, 5, 6]

### ints, floats, bools
We are already familiar with all of these data types from our previous Matlab units! Let's review them briefly here.

In [104]:
44/7  #floating point division. Result is 6 + 2/7 in decimal form

6.285714285714286

In [105]:
quotient = 44//7 #integer division
remainder = 44%7 #integer remainder. 44 mod 7 equals 2
print(quotient, remainder)
#note that 44 = 6*7 + 2

6 2

In [106]:
z = 10/2
z == 5

True

In [107]:
print(z)
print("z is of type : ", type(z))
print("5 is of type : ", type(5))

5.0
z is of type :  <class 'float'>
5 is of type :  <class 'int'>

In [108]:
True #notice this is highlighted in green!

True

In [109]:
False

False

In [110]:
type(True)

bool

In [111]:
type(true)

NameError: name 'true' is not defined

In [112]:
range(5)

range(0, 5)

In [113]:
range(z)

TypeError: 'float' object cannot be interpreted as an integer

Still be careful about floating point comparisons!

In [114]:
(0.1 + 0.1 + 0.1) == 0.3

False

### Dictionaries
One of the most common data types, and a lot of fun to use!. They start off looking pretty similar to sets, but are an entirely diferent data type.

In [115]:
d = {"A":90, "B":80,"C":70,"D":60,"F":0, "S":110, "S+":150}

Terminology: 
 * "A" through "F" are called the ___keys___ of the dictionary. These are what a dictionary is indexed by.
 * 90 through 0 are called the ___values___ of the dictionary

In [116]:
type(d)

dict

In [117]:
d[0] #d[key] looks for key and returns its value.
#here, there is no key called 0

KeyError: 0

In [118]:
d["B"] #give the value corresponding to "B"

80

In [119]:
d[0] = [3,1,4,1]

In [120]:
d

{'A': 90,
 'B': 80,
 'C': 70,
 'D': 60,
 'F': 0,
 'S': 110,
 'S+': 150,
 0: [3, 1, 4, 1]}

In [121]:
d[7777] = "this is a sentence we are adding"
d

{'A': 90,
 'B': 80,
 'C': 70,
 'D': 60,
 'F': 0,
 'S': 110,
 'S+': 150,
 0: [3, 1, 4, 1],
 7777: 'this is a sentence we are adding'}

In [122]:
d["create an example"] = 17

In [123]:
d

{'A': 90,
 'B': 80,
 'C': 70,
 'D': 60,
 'F': 0,
 'S': 110,
 'S+': 150,
 0: [3, 1, 4, 1],
 7777: 'this is a sentence we are adding',
 'create an example': 17}

Values can be almost anything that you want. 

Keys are more tricky, not just anything can be a key in a dictionary. They must be immutable.

In [124]:
import math
math.sqrt(2)

1.4142135623730951

In [125]:
d[math.sqrt(2)] = "floating point"

In [126]:
d

{'A': 90,
 'B': 80,
 'C': 70,
 'D': 60,
 'F': 0,
 'S': 110,
 'S+': 150,
 0: [3, 1, 4, 1],
 7777: 'this is a sentence we are adding',
 'create an example': 17,
 1.4142135623730951: 'floating point'}

In [127]:
#update the value of "B"
d["B"] = 85

In [128]:
d

{'A': 90,
 'B': 85,
 'C': 70,
 'D': 60,
 'F': 0,
 'S': 110,
 'S+': 150,
 0: [3, 1, 4, 1],
 7777: 'this is a sentence we are adding',
 'create an example': 17,
 1.4142135623730951: 'floating point'}

Notice, you can only have one value for each key.

In [129]:
d["0"] = {"Hello":"first word","World":"second word"}

In [130]:
d

{'A': 90,
 'B': 85,
 'C': 70,
 'D': 60,
 'F': 0,
 'S': 110,
 'S+': 150,
 0: [3, 1, 4, 1],
 7777: 'this is a sentence we are adding',
 'create an example': 17,
 1.4142135623730951: 'floating point',
 '0': {'Hello': 'first word', 'World': 'second word'}}

We quickly remind ourselves of some key differences between lists and sets...

In [131]:
#Error! Lists cannot go in a set
myset = {3,1,[4,1]}

TypeError: unhashable type: 'list'

In [132]:
myset = {3,1,(4,1)}

We will now see that dictionary keys have similar restrictions!

In [133]:
d[[4,1]] = "Yasmeen"

TypeError: unhashable type: 'list'

Upshot: Lists cannot be keys in a dictionary.

In [134]:
d[(4,1)] = "Yasmeen"

In [135]:
d

{'A': 90,
 'B': 85,
 'C': 70,
 'D': 60,
 'F': 0,
 'S': 110,
 'S+': 150,
 0: [3, 1, 4, 1],
 7777: 'this is a sentence we are adding',
 'create an example': 17,
 1.4142135623730951: 'floating point',
 '0': {'Hello': 'first word', 'World': 'second word'},
 (4, 1): 'Yasmeen'}

Upshot: Tuples can be keys in a dictionary

### Converting between data types
Converting from one data type to another is called ___casting___. We will see a few examples below.

In [136]:
mylist = [3,1,4,1]
tuple(mylist)

(3, 1, 4, 1)

In [137]:
mylist

[3, 1, 4, 1]

In [138]:
x = tuple(mylist)
x

(3, 1, 4, 1)

In [139]:
type(x)

tuple

In [140]:
s = "Hello Everybody"
list(s)

['H', 'e', 'l', 'l', 'o', ' ', 'E', 'v', 'e', 'r', 'y', 'b', 'o', 'd', 'y']

In [141]:
for x in s:
    print(x)

H
e
l
l
o

E
v
e
r
y
b
o
d
y

In [142]:
mylist

[3, 1, 4, 1]

In [143]:
#Don't expect this to work
dict(mylist)

TypeError: cannot convert dictionary update sequence element #0 to a sequence

We can convert a list to a dictionary, if we're a little more careful and make it easy for Python to gather key-value pairs.

In [144]:
mylist2 = [(3,"a"),(1,"b"),(1,"c")]

In [145]:
#Remember, each key can only have one value
dict(mylist2)

{3: 'a', 1: 'c'}

Notice that the value corresponding to 1 got updated from "b" to "c".

In [146]:
True

True

In [147]:
False

False

In [148]:
int(True)

1

In [149]:
int(False)

0

In [150]:
4 + True

5

In [151]:
4 + False

4

### Small note on exponents

In [152]:
#Say I want to get 10^7, this will return something strange
10^7

13

Be careful, then `^` operation does not exponentiate. You don't need to worry about what it does (technically it's the bitwise-exclusive-or operation), just know that here is how we can actually exponentiate.

In [153]:
10**7

10000000