In [1]:
#this is an example of a code cell
#notice that I'm writing this is a comment
2+2    #lines not printed won't necessarily show. Depends on the operation/function
print(3*7)
print(3^5)    # carrot ^ is bitwise xor (exclusive or). Not often used in this class (if at all).
print(3**5)   # ** is exponentiation, not ^ in python
print(6/4)
print(6//4)   #integer division, no decimal part
print(6%4)    #6 mod 4, the remainder when we divide 6 by 4
#The above two outputs correspond to 6 = 1*4 + 2

8%5    #the remainder of 8, when divided by 5
a = 3.5
print(a)
a

21
6
243
1.5
1
2
3.5

3.5

In [2]:
s = "Hello World" #no error, and no output

In [3]:
type(s)

str

In [4]:
print(s)

Hello World

In [5]:
s2 = 'Hello World' #notice single quotes
type(s2)

str

In [6]:
print(s2)

Hello World

In [7]:
s3 = 'Professor Smith says "hello"'
print(s3)

Professor Smith says "hello"

In [8]:
mylist = [3,1,'hello',1]  #Can mix types in a list

In [9]:
type(mylist)

list

In [10]:
mylist2 = [3 1 4 1] #Notice, I have to use commas

SyntaxError: invalid syntax. Perhaps you forgot a comma? (2145540522.py, line 1)

In [11]:
mylist2 = [3, 1, 4, 1]
mylist

[3, 1, 'hello', 1]

In [12]:
mylist[2]   #The 3rd term is the 2nd index

'hello'

In [13]:
len(mylist)

4

In [14]:
s

'Hello World'

In [15]:
print(s+s)
print(s+" "+s)

Hello WorldHello World
Hello World Hello World

In [16]:
s[0]

'H'

In [17]:
s[1]

'e'

In [18]:
len(s)

11

In [19]:
s[len(s)] #s[11]

IndexError: string index out of range

In [20]:
s[len(s)-1]  #s[10]

'd'

In [21]:
s

'Hello World'

In [22]:
s[-1] #this gives the last element! Start counting backwards at -1

'd'

In [23]:
s[-2] #2nd to last letter

'l'

In [24]:
s[-3]  #3rd to last letter

'r'

In [25]:
mylist

[3, 1, 'hello', 1]

In [26]:
mylist[-1]

1

In [27]:
mylist[-4]

3

In [28]:
mylist[0]

3

In [29]:
print('python'+" "+'math')# concatenation of strings
print('python math')

python math
python math

In [30]:
[1,2,3]+['python','math'] # concatenation of lists

[1, 2, 3, 'python', 'math']

In [31]:
s

'Hello World'

In [32]:
#Start at the entry of index 1, and go up to, but don't include
#the entry of index 4
print(s[1:4])
print(s[4])

ell
o

In [33]:
s[:5] #Take the first 5 elements

'Hello'

In [34]:
s[0:5]

'Hello'

In [35]:
s[3:] #start at index 3, and go all the way to the end

'lo World'

In [36]:
s[3:-1] #start at index 3, leave off the end element. Still counts by 1

'lo Worl'

In [37]:
print(s)
print(s[::2])
print(s[1::2])
print(s[1:8:3])

Hello World
HloWrd
el ol
eoo

In [38]:
s[-1:0] #tries to reach from end to beginning, stepping by +1. But this is impossible, so the string is empty

''

In [39]:
print(s[-1::-1]) #tries to reach from end to beginning, stepping by -1
print(s[-1::])
print(s[-1:0:-1])

dlroW olleH
d
dlroW olle

In [40]:
#Start at index 1, go up to, but don't include index 7,
#count by 2
print(s)
s[1:7:2]

Hello World

'el '

In [41]:
print(s)
s[1:8:2]

Hello World

'el o'

In [42]:
#Start at index 0, go to the end, count by 2
print(mylist)
mylist[::2]

[3, 1, 'hello', 1]

[3, 'hello']

In [43]:
#What if we want the complement?
newlist = mylist[1::2]
print(newlist)

[1, 1]

In [44]:
#What if we want the complement?
text = s[1::2]
print(text)

el ol

In [45]:
text.upper() #needs the parentheses, otherwise this is just a function

'EL OL'

In [46]:
text.upper

In [47]:
text.lower()

'el ol'

In [48]:
text.capitalize()

'El ol'

In [49]:
print(text)  #Text not affected. Functions above modify the text, but don't store the modifications to the variable by themselves

el ol

In [50]:
print(s.upper())  #uppercase version is made, but not stored
print(s)

super = s.upper()
print(super)

HELLO WORLD
Hello World
HELLO WORLD

In [51]:
mylist = [3,1,4,1]
mytuple = (3,1,4,1)
myset = {3,1,4,1}

In [52]:
type(mylist)

list

In [53]:
type(mytuple)

tuple

In [54]:
type(myset)

set

In [55]:
#no duplicates
myset

{1, 3, 4}

In [56]:
#no order means no indexing
myset[0]

TypeError: 'set' object is not subscriptable

In [57]:
mytuple[0]

3

In [58]:
mylist[0]

3

In [59]:
len(mytuple)

4

In [60]:
len(mylist)

4

In [61]:
len(myset)

3

In [62]:
mylist = [3,1,4,1]

In [63]:
mylist[2] = 'newstring'
mylist[3] = []
mylist[0] = [2, 3, 7, 52]
mylist

[[2, 3, 7, 52], 1, 'newstring', []]

In [64]:
mylist[3] = [2, 3, 5]
print(mylist)
print(len(mylist))

[[2, 3, 7, 52], 1, 'newstring', [2, 3, 5]]
4

In [65]:
mytuple

(3, 1, 4, 1)

In [66]:
print(mytuple[2])
mytuple[2] = 19  #We can call indices of tuples, but they cannot be reassigned

4

TypeError: 'tuple' object does not support item assignment

In [67]:
mytuple = (3 ,4 ,5, 8, -2, 99)
print(mytuple)

(3, 4, 5, 8, -2, 99)

In [68]:
mylist[5] = 3  #cannot assign a 5th element like in Matlab

IndexError: list assignment index out of range

In [69]:
mylist.append(65)
mylist.append([10, 2])
mylist

[[2, 3, 7, 52], 1, 'newstring', [2, 3, 5], 65, [10, 2]]

In [70]:
mytuple.append(10)

AttributeError: 'tuple' object has no attribute 'append'

In [71]:
newset = {3,1,(4,1),(5,1), 'test'}
print(newset)
len(newset) #the tuple counts as a single element.

{1, 3, 'test', (4, 1), (5, 1)}

5

In [72]:
newset2 = {3,1,[4,1], [5,1]}

TypeError: unhashable type: 'list'

In [73]:
A = {0, 2, 4, 6, 8, 11, 21, 5}; 
B = {1, 2, 3, 4, 5, 7, 11, 55}; 
  
# union 
print("Union of A or B :", A | B) 
print(A|B)
  
# intersection 
print("Intersection of A and B: ", A & B) 
  
# difference 
print("Difference :", A - B) 
  
# symmetric difference 
print("Symmetric difference, a.k.a Exclusive Or, a.k.a Exclusive Union :", A ^ B) 

#The above also gives a more fancy way to print outputs

Union of A or B : {0, 1, 2, 3, 4, 5, 6, 7, 8, 11, 21, 55}
{0, 1, 2, 3, 4, 5, 6, 7, 8, 11, 21, 55}
Intersection of A and B:  {2, 11, 4, 5}
Difference : {0, 8, 21, 6}
Symmetric difference, a.k.a Exclusive Or, a.k.a Exclusive Union : {0, 1, 3, 6, 7, 8, 21, 55}

In [74]:
a = 1000
b = a   #b and a have the same value, same place in the memory

print(id(a)) #address where a is stored
print(id(b))

b = 1
print(id(b))
b = 1000
print(id(b))

print(a)

1696153493840
1696153493840
140715728841144
1696153493936
1000

In [75]:
a = [1000,1]
b = a  #b and a now refer to the same place in memory
b = [1,1]  #Tell b to refer to another place in memory
print(a)
print(b)

[1000, 1]
[1, 1]

In [76]:
a = [1000,1]
b = a #b and a now refer to the same place in memory
b[0] = 1 #modify the place b refers to in memory. But this is the same place a refers to!
print(a)
print(b)
print(id(a)) #id(a) and id(b) tell us where a and b point to in memory. Not used often in this course.
print(id(b))

[1, 1]
[1, 1]
1696155148096
1696155148096

In [77]:
a = [1000, 1]
b = a
b = [1000, 1]
b[0] = 1
print(a)
print(b)

[1000, 1]
[1, 1]

In [78]:
atotallydifferentvariablename = [1,2,3]
b = atotallydifferentvariablename.copy() #creates a totally new instance of a, in a different place in the memory
b[0] = 0
print(atotallydifferentvariablename)
print(b)

print(id(atotallydifferentvariablename))
print(id(b))

[1, 2, 3]
[0, 2, 3]
1696155327552
1696155374592

In [79]:
numbers = [1, 4, 0, 2, 9, 9, 10]
numbers.reverse() # does NOT return a new LIST object! It modifies the original list -- remember that list is mutable object
print(numbers) # [10, 9, 9, 2, 0, 4, 1]

[10, 9, 9, 2, 0, 4, 1]

In [80]:
newstr = "test this out"
newstr.reverse()

AttributeError: 'str' object has no attribute 'reverse'

In [81]:
print(newstr)
print(type(newstr))
help(str)

test this out
<class 'str'>
Help on class str in module builtins:

class str(object)
 |  str(object='') -> str
 |  str(bytes_or_buffer[, encoding[, errors]]) -> str
 |
 |  Create a new string object from the given object. If encoding or
 |  errors is specified, then the object must expose a data buffer
 |  that will be decoded using the given encoding and error handler.
 |  Otherwise, returns the result of object.__str__() (if defined)
 |  or repr(object).
 |  encoding defaults to sys.getdefaultencoding().
 |  errors defaults to 'strict'.
 |
 |  Methods defined here:
 |
 |  __add__(self, value, /)
 |      Return self+value.
 |
 |  __contains__(self, key, /)
 |      Return bool(key in self).
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __format__(self, format_spec, /)
 |      Return a formatted version of the string as described by format_spec.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getitem__(self, key, /)
 |      Return self[key].
 |
 |  __getnewargs__(...)
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __hash__(self, /)
 |      Return hash(self).
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __mod__(self, value, /)
 |      Return self%value.
 |
 |  __mul__(self, value, /)
 |      Return self*value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __rmod__(self, value, /)
 |      Return value%self.
 |
 |  __rmul__(self, value, /)
 |      Return value*self.
 |
 |  __sizeof__(self, /)
 |      Return the size of the string in memory, in bytes.
 |
 |  __str__(self, /)
 |      Return str(self).
 |
 |  capitalize(self, /)
 |      Return a capitalized version of the string.
 |
 |      More specifically, make the first character have upper case and the rest lower
 |      case.
 |
 |  casefold(self, /)
 |      Return a version of the string suitable for caseless comparisons.
 |
 |  center(self, width, fillchar=' ', /)
 |      Return a centered string of length width.
 |
 |      Padding is done using the specified fill character (default is a space).
 |
 |  count(...)
 |      S.count(sub[, start[, end]]) -> int
 |
 |      Return the number of non-overlapping occurrences of substring sub in
 |      string S[start:end].  Optional arguments start and end are
 |      interpreted as in slice notation.
 |
 |  encode(self, /, encoding='utf-8', errors='strict')
 |      Encode the string using the codec registered for encoding.
 |
 |      encoding
 |        The encoding in which to encode the string.
 |      errors
 |        The error handling scheme to use for encoding errors.
 |        The default is 'strict' meaning that encoding errors raise a
 |        UnicodeEncodeError.  Other possible values are 'ignore', 'replace' and
 |        'xmlcharrefreplace' as well as any other name registered with
 |        codecs.register_error that can handle UnicodeEncodeErrors.
 |
 |  endswith(...)
 |      S.endswith(suffix[, start[, end]]) -> bool
 |
 |      Return True if S ends with the specified suffix, False otherwise.
 |      With optional start, test S beginning at that position.
 |      With optional end, stop comparing S at that position.
 |      suffix can also be a tuple of strings to try.
 |
 |  expandtabs(self, /, tabsize=8)
 |      Return a copy where all tab characters are expanded using spaces.
 |
 |      If tabsize is not given, a tab size of 8 characters is assumed.
 |
 |  find(...)
 |      S.find(sub[, start[, end]]) -> int
 |
 |      Return the lowest index in S where substring sub is found,
 |      such that sub is contained within S[start:end].  Optional
 |      arguments start and end are interpreted as in slice notation.
 |
 |      Return -1 on failure.
 |
 |  format(...)
 |      S.format(*args, **kwargs) -> str
 |
 |      Return a formatted version of S, using substitutions from args and kwargs.
 |      The substitutions are identified by braces ('{' and '}').
 |
 |  format_map(...)
 |      S.format_map(mapping) -> str
 |
 |      Return a formatted version of S, using substitutions from mapping.
 |      The substitutions are identified by braces ('{' and '}').
 |
 |  index(...)
 |      S.index(sub[, start[, end]]) -> int
 |
 |      Return the lowest index in S where substring sub is found,
 |      such that sub is contained within S[start:end].  Optional
 |      arguments start and end are interpreted as in slice notation.
 |
 |      Raises ValueError when the substring is not found.
 |
 |  isalnum(self, /)
 |      Return True if the string is an alpha-numeric string, False otherwise.
 |
 |      A string is alpha-numeric if all characters in the string are alpha-numeric and
 |      there is at least one character in the string.
 |
 |  isalpha(self, /)
 |      Return True if the string is an alphabetic string, False otherwise.
 |
 |      A string is alphabetic if all characters in the string are alphabetic and there
 |      is at least one character in the string.
 |
 |  isascii(self, /)
 |      Return True if all characters in the string are ASCII, False otherwise.
 |
 |      ASCII characters have code points in the range U+0000-U+007F.
 |      Empty string is ASCII too.
 |
 |  isdecimal(self, /)
 |      Return True if the string is a decimal string, False otherwise.
 |
 |      A string is a decimal string if all characters in the string are decimal and
 |      there is at least one character in the string.
 |
 |  isdigit(self, /)
 |      Return True if the string is a digit string, False otherwise.
 |
 |      A string is a digit string if all characters in the string are digits and there
 |      is at least one character in the string.
 |
 |  isidentifier(self, /)
 |      Return True if the string is a valid Python identifier, False otherwise.
 |
 |      Call keyword.iskeyword(s) to test whether string s is a reserved identifier,
 |      such as "def" or "class".
 |
 |  islower(self, /)
 |      Return True if the string is a lowercase string, False otherwise.
 |
 |      A string is lowercase if all cased characters in the string are lowercase and
 |      there is at least one cased character in the string.
 |
 |  isnumeric(self, /)
 |      Return True if the string is a numeric string, False otherwise.
 |
 |      A string is numeric if all characters in the string are numeric and there is at
 |      least one character in the string.
 |
 |  isprintable(self, /)
 |      Return True if the string is printable, False otherwise.
 |
 |      A string is printable if all of its characters are considered printable in
 |      repr() or if it is empty.
 |
 |  isspace(self, /)
 |      Return True if the string is a whitespace string, False otherwise.
 |
 |      A string is whitespace if all characters in the string are whitespace and there
 |      is at least one character in the string.
 |
 |  istitle(self, /)
 |      Return True if the string is a title-cased string, False otherwise.
 |
 |      In a title-cased string, upper- and title-case characters may only
 |      follow uncased characters and lowercase characters only cased ones.
 |
 |  isupper(self, /)
 |      Return True if the string is an uppercase string, False otherwise.
 |
 |      A string is uppercase if all cased characters in the string are uppercase and
 |      there is at least one cased character in the string.
 |
 |  join(self, iterable, /)
 |      Concatenate any number of strings.
 |
 |      The string whose method is called is inserted in between each given string.
 |      The result is returned as a new string.
 |
 |      Example: '.'.join(['ab', 'pq', 'rs']) -> 'ab.pq.rs'
 |
 |  ljust(self, width, fillchar=' ', /)
 |      Return a left-justified string of length width.
 |
 |      Padding is done using the specified fill character (default is a space).
 |
 |  lower(self, /)
 |      Return a copy of the string converted to lowercase.
 |
 |  lstrip(self, chars=None, /)
 |      Return a copy of the string with leading whitespace removed.
 |
 |      If chars is given and not None, remove characters in chars instead.
 |
 |  partition(self, sep, /)
 |      Partition the string into three parts using the given separator.
 |
 |      This will search for the separator in the string.  If the separator is found,
 |      returns a 3-tuple containing the part before the separator, the separator
 |      itself, and the part after it.
 |
 |      If the separator is not found, returns a 3-tuple containing the original string
 |      and two empty strings.
 |
 |  removeprefix(self, prefix, /)
 |      Return a str with the given prefix string removed if present.
 |
 |      If the string starts with the prefix string, return string[len(prefix):].
 |      Otherwise, return a copy of the original string.
 |
 |  removesuffix(self, suffix, /)
 |      Return a str with the given suffix string removed if present.
 |
 |      If the string ends with the suffix string and that suffix is not empty,
 |      return string[:-len(suffix)]. Otherwise, return a copy of the original
 |      string.
 |
 |  replace(self, old, new, count=-1, /)
 |      Return a copy with all occurrences of substring old replaced by new.
 |
 |        count
 |          Maximum number of occurrences to replace.
 |          -1 (the default value) means replace all occurrences.
 |
 |      If the optional argument count is given, only the first count occurrences are
 |      replaced.
 |
 |  rfind(...)
 |      S.rfind(sub[, start[, end]]) -> int
 |
 |      Return the highest index in S where substring sub is found,
 |      such that sub is contained within S[start:end].  Optional
 |      arguments start and end are interpreted as in slice notation.
 |
 |      Return -1 on failure.
 |
 |  rindex(...)
 |      S.rindex(sub[, start[, end]]) -> int
 |
 |      Return the highest index in S where substring sub is found,
 |      such that sub is contained within S[start:end].  Optional
 |      arguments start and end are interpreted as in slice notation.
 |
 |      Raises ValueError when the substring is not found.
 |
 |  rjust(self, width, fillchar=' ', /)
 |      Return a right-justified string of length width.
 |
 |      Padding is done using the specified fill character (default is a space).
 |
 |  rpartition(self, sep, /)
 |      Partition the string into three parts using the given separator.
 |
 |      This will search for the separator in the string, starting at the end. If
 |      the separator is found, returns a 3-tuple containing the part before the
 |      separator, the separator itself, and the part after it.
 |
 |      If the separator is not found, returns a 3-tuple containing two empty strings
 |      and the original string.
 |
 |  rsplit(self, /, sep=None, maxsplit=-1)
 |      Return a list of the substrings in the string, using sep as the separator string.
 |
 |        sep
 |          The separator used to split the string.
 |
 |          When set to None (the default value), will split on any whitespace
 |          character (including \n \r \t \f and spaces) and will discard
 |          empty strings from the result.
 |        maxsplit
 |          Maximum number of splits.
 |          -1 (the default value) means no limit.
 |
 |      Splitting starts at the end of the string and works to the front.
 |
 |  rstrip(self, chars=None, /)
 |      Return a copy of the string with trailing whitespace removed.
 |
 |      If chars is given and not None, remove characters in chars instead.
 |
 |  split(self, /, sep=None, maxsplit=-1)
 |      Return a list of the substrings in the string, using sep as the separator string.
 |
 |        sep
 |          The separator used to split the string.
 |
 |          When set to None (the default value), will split on any whitespace
 |          character (including \n \r \t \f and spaces) and will discard
 |          empty strings from the result.
 |        maxsplit
 |          Maximum number of splits.
 |          -1 (the default value) means no limit.
 |
 |      Splitting starts at the front of the string and works to the end.
 |
 |      Note, str.split() is mainly useful for data that has been intentionally
 |      delimited.  With natural text that includes punctuation, consider using
 |      the regular expression module.
 |
 |  splitlines(self, /, keepends=False)
 |      Return a list of the lines in the string, breaking at line boundaries.
 |
 |      Line breaks are not included in the resulting list unless keepends is given and
 |      true.
 |
 |  startswith(...)
 |      S.startswith(prefix[, start[, end]]) -> bool
 |
 |      Return True if S starts with the specified prefix, False otherwise.
 |      With optional start, test S beginning at that position.
 |      With optional end, stop comparing S at that position.
 |      prefix can also be a tuple of strings to try.
 |
 |  strip(self, chars=None, /)
 |      Return a copy of the string with leading and trailing whitespace removed.
 |
 |      If chars is given and not None, remove characters in chars instead.
 |
 |  swapcase(self, /)
 |      Convert uppercase characters to lowercase and lowercase characters to uppercase.
 |
 |  title(self, /)
 |      Return a version of the string where each word is titlecased.
 |
 |      More specifically, words start with uppercased characters and all remaining
 |      cased characters have lower case.
 |
 |  translate(self, table, /)
 |      Replace each character in the string using the given translation table.
 |
 |        table
 |          Translation table, which must be a mapping of Unicode ordinals to
 |          Unicode ordinals, strings, or None.
 |
 |      The table must implement lookup/indexing via __getitem__, for instance a
 |      dictionary or list.  If this operation raises LookupError, the character is
 |      left untouched.  Characters mapped to None are deleted.
 |
 |  upper(self, /)
 |      Return a copy of the string converted to uppercase.
 |
 |  zfill(self, width, /)
 |      Pad a numeric string with zeros on the left, to fill a field of the given width.
 |
 |      The string is never truncated.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs)
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  maketrans(...)
 |      Return a translation table usable for str.translate().
 |
 |      If there is only one argument, it must be a dictionary mapping Unicode
 |      ordinals (integers) or characters to Unicode ordinals, strings or None.
 |      Character keys will be then converted to ordinals.
 |      If there are two arguments, they must be strings of equal length, and
 |      in the resulting dictionary, each character in x will be mapped to the
 |      character at the same position in y. If there is a third argument, it
 |      must be a string, whose characters will be mapped to None in the result.

In [82]:
print(numbers)
numbers_reverse = numbers.reverse() # Warning: does NOT store the reversed list!!!
print(numbers)
print(numbers_reverse) #Will be blank

[10, 9, 9, 2, 0, 4, 1]
[1, 4, 0, 2, 9, 9, 10]
None

In [83]:
print(numbers)
element_pop = numbers.pop(4) # the input is index to delete in the list
print(element_pop)  #object we removed
print(numbers)  #remaining numbers on list

[1, 4, 0, 2, 9, 9, 10]
9
[1, 4, 0, 2, 9, 10]

In [84]:
numbers.sort() # sort the list in ascending order
print(numbers) 
numbers.sort(reverse=True)
print(numbers)

[0, 1, 2, 4, 9, 10]
[10, 9, 4, 2, 1, 0]

In [85]:
numbers.sort

In [86]:
help(numbers.sort)

Help on built-in function sort:

sort(*, key=None, reverse=False) method of builtins.list instance
    Sort the list in ascending order and return None.

    The sort is in-place (i.e. the list itself is modified) and stable (i.e. the
    order of two equal elements is maintained).

    If a key function is given, apply it once to each list item and sort them,
    ascending or descending, according to their function values.

    The reverse flag can be set to sort in descending order.

In [87]:
mystring = "Hello World"
mylist = [3,1,4,1]
mytuple = (3,1,4,1)
myset = {3,1,4,1}

In [88]:
for x in mylist:
    print(x)

3
1
4
1

In [89]:
for x in mystring:
    print(x)
    print(type(x))
    print(len(x))

H
<class 'str'>
1
e
<class 'str'>
1
l
<class 'str'>
1
l
<class 'str'>
1
o
<class 'str'>
1

<class 'str'>
1
W
<class 'str'>
1
o
<class 'str'>
1
r
<class 'str'>
1
l
<class 'str'>
1
d
<class 'str'>
1

In [90]:
for x in mystring:
    print(x)
print(x) #x is still persistent outside of the loop
print(type(x))
print(len(x))

H
e
l
l
o

W
o
r
l
d
d
<class 'str'>
1

In [91]:
for x in mytuple:
    print(x)

3
1
4
1

In [92]:
for x in myset:
    print(x)

1
3
4

In [93]:
for i in range(1,6):      #range(6) and range(1,6) both stop before 6
    print(i)

1
2
3
4
5

In [94]:
myrange = range(0,5)
myrange

range(0, 5)

In [95]:
type(myrange)

range

In [96]:
myrange2 = range(10,3,-1)
type(myrange2)

range

In [97]:
for x in myrange2:
    print(x)

10
9
8
7
6
5
4

In [98]:
myrange3 = range(3,1000)
print(myrange3)
print(myrange3[0])
print(myrange3[4])

range(3, 1000)
3
7

In [99]:
myrange3[-1]

999

In [100]:
myrange3[10:100:4] #notice this returns a range object

range(13, 103, 4)

In [101]:
list(myrange3[10:100:4])   #preview of casting: changing one type of object into another type

[13,
 17,
 21,
 25,
 29,
 33,
 37,
 41,
 45,
 49,
 53,
 57,
 61,
 65,
 69,
 73,
 77,
 81,
 85,
 89,
 93,
 97,
 101]

In [102]:
myrange3[10]

13

In [103]:
len(myrange3)

997

In [104]:
mylist = [[1,2,3,4,5],[3,4], [5,6]] 

#nested for loop below is going to square the first 2 terms in each list
for x in mylist:
    for j in range(2):
        x[j] = x[j]**2
print(mylist)

for x in mylist:   #x is the list inside mylist for the current iteration
    for j in range(len(x)):  #j is the index within x
        x[j] = x[j]**2
print(mylist)

[[1, 4, 3, 4, 5], [9, 16], [25, 36]]
[[1, 16, 9, 16, 25], [81, 256], [625, 1296]]

In [105]:
for i,x in enumerate(mylist): # pay attention to the order (i,x)
    print(x)
    print(mylist[i])
    print(i)
    print(i, x, mylist[i])

[1, 16, 9, 16, 25]
[1, 16, 9, 16, 25]
0
0 [1, 16, 9, 16, 25] [1, 16, 9, 16, 25]
[81, 256]
[81, 256]
1
1 [81, 256] [81, 256]
[625, 1296]
[625, 1296]
2
2 [625, 1296] [625, 1296]

In [106]:
print(mylist[0])
print(mylist[0][0])
print(mylist[0][4])

[1, 16, 9, 16, 25]
1
25

In [107]:
print(enumerate(mylist)) #enumerate object is not a list
print(type(enumerate(mylist)))
print(list(enumerate(mylist))) #convert to a list

<enumerate object at 0x0000018AEABAE2F0>
<class 'enumerate'>
[(0, [1, 16, 9, 16, 25]), (1, [81, 256]), (2, [625, 1296])]

In [108]:
mysentence = 'strings are also indexed'
print(mysentence[0])
print(list(enumerate(mysentence)))

s
[(0, 's'), (1, 't'), (2, 'r'), (3, 'i'), (4, 'n'), (5, 'g'), (6, 's'), (7, ' '), (8, 'a'), (9, 'r'), (10, 'e'), (11, ' '), (12, 'a'), (13, 'l'), (14, 's'), (15, 'o'), (16, ' '), (17, 'i'), (18, 'n'), (19, 'd'), (20, 'e'), (21, 'x'), (22, 'e'), (23, 'd')]

In [109]:
#list = [0,1,3]
#print(list(enumerate(list)))

In [110]:
mylist = [1,2,3,4]
print(mylist)

for i in range(len(mylist)):
    mylist[i] = mylist[i]+1

print(mylist)

mylist2 = [x+1 for x in mylist] #creating a new list

print(mylist2)

[1, 2, 3, 4]
[2, 3, 4, 5]
[3, 4, 5, 6]

In [111]:
44/7  #floating point division. Result is 6 + 2/7 in decimal form

6.285714285714286

In [112]:
quotient = 44//7 #integer division
remainder = 44%7 #integer remainder. 44 mod 7 equals 2
print(quotient, remainder)
#note that 44 = 6*7 + 2

6 2

In [113]:
z = 10/2
print(z)
print(5)
z == 5

5.0
5

True

In [114]:
print(z)
print(type(z))
print("z is of type : ", type(z))
print("5 is of type : ", type(5))
print(f"z is a {type(z)} and 5 is a {type(5)}")  #f-strings are the easiest way to mix variables and strings. More on these later.

5.0
<class 'float'>
z is of type :  <class 'float'>
5 is of type :  <class 'int'>
z is a <class 'float'> and 5 is a <class 'int'>

In [115]:
True #notice this is highlighted in green!

True

In [116]:
False

False

In [117]:
True + True + False  #Can still add Trues and Falses together to get numerical values, like in Matlab.

2

In [118]:
type(True)

bool

In [119]:
type(true)  #True must be capitalized

NameError: name 'true' is not defined

In [120]:
range(5)

range(0, 5)

In [121]:
range(z) #Cannot plug floating point numbers into range objects

TypeError: 'float' object cannot be interpreted as an integer

In [122]:
(0.1 + 0.1 + 0.1) == 0.3

False

In [123]:
d = {"A":90, "B":80,"C":70,"D":60,"F":0, "S":110, "S+":150}

In [124]:
type(d)

dict

In [125]:
d[0] #d[key] looks for key and returns its value.
#here, there is no key called 0

KeyError: 0

In [126]:
d["B"] #give the value corresponding to "B"

80

In [127]:
d["S+"]

150

In [128]:
d[0] = [3,1,4,1]

In [129]:
d

{'A': 90,
 'B': 80,
 'C': 70,
 'D': 60,
 'F': 0,
 'S': 110,
 'S+': 150,
 0: [3, 1, 4, 1]}

In [130]:
d[0]

[3, 1, 4, 1]

In [131]:
d[7777] = "this is a sentence we are adding"
d

{'A': 90,
 'B': 80,
 'C': 70,
 'D': 60,
 'F': 0,
 'S': 110,
 'S+': 150,
 0: [3, 1, 4, 1],
 7777: 'this is a sentence we are adding'}

In [132]:
d["create an example"] = 17

In [133]:
d

{'A': 90,
 'B': 80,
 'C': 70,
 'D': 60,
 'F': 0,
 'S': 110,
 'S+': 150,
 0: [3, 1, 4, 1],
 7777: 'this is a sentence we are adding',
 'create an example': 17}

In [134]:
sqrt(2)

NameError: name 'sqrt' is not defined

In [135]:
import math #only need to run this line once per restart of your notebook.
math.sqrt(2)

1.4142135623730951

In [136]:
math.cos(math.pi/2)   #Python is bad with rounding small decimals, should be close to 0.

6.123233995736766e-17

In [137]:
d[math.sqrt(2)] = "floating point"

In [138]:
d

{'A': 90,
 'B': 80,
 'C': 70,
 'D': 60,
 'F': 0,
 'S': 110,
 'S+': 150,
 0: [3, 1, 4, 1],
 7777: 'this is a sentence we are adding',
 'create an example': 17,
 1.4142135623730951: 'floating point'}

In [139]:
#update the value of "B"
d["B"] = 85

In [140]:
d

{'A': 90,
 'B': 85,
 'C': 70,
 'D': 60,
 'F': 0,
 'S': 110,
 'S+': 150,
 0: [3, 1, 4, 1],
 7777: 'this is a sentence we are adding',
 'create an example': 17,
 1.4142135623730951: 'floating point'}

In [141]:
d["0"] = {"Hello":"first word","World":"second word"}

In [142]:
d

{'A': 90,
 'B': 85,
 'C': 70,
 'D': 60,
 'F': 0,
 'S': 110,
 'S+': 150,
 0: [3, 1, 4, 1],
 7777: 'this is a sentence we are adding',
 'create an example': 17,
 1.4142135623730951: 'floating point',
 '0': {'Hello': 'first word', 'World': 'second word'}}

In [143]:
d['Z'] = 90
d

{'A': 90,
 'B': 85,
 'C': 70,
 'D': 60,
 'F': 0,
 'S': 110,
 'S+': 150,
 0: [3, 1, 4, 1],
 7777: 'this is a sentence we are adding',
 'create an example': 17,
 1.4142135623730951: 'floating point',
 '0': {'Hello': 'first word', 'World': 'second word'},
 'Z': 90}

In [144]:
#Error! Lists cannot go in a set
myset = {3,1,[4,1]}

TypeError: unhashable type: 'list'

In [145]:
myset = {3,1,(4,1)}

In [146]:
d[[4,1]] = "Yasmeen"

TypeError: unhashable type: 'list'

In [147]:
d[(4,1)] = "Yasmeen"

In [148]:
d

{'A': 90,
 'B': 85,
 'C': 70,
 'D': 60,
 'F': 0,
 'S': 110,
 'S+': 150,
 0: [3, 1, 4, 1],
 7777: 'this is a sentence we are adding',
 'create an example': 17,
 1.4142135623730951: 'floating point',
 '0': {'Hello': 'first word', 'World': 'second word'},
 'Z': 90,
 (4, 1): 'Yasmeen'}

In [149]:
mylist = [3,1,4,1]
print(mylist)
tuple(mylist)

[3, 1, 4, 1]

(3, 1, 4, 1)

In [150]:
mylist

[3, 1, 4, 1]

In [151]:
x = tuple(mylist)
x

(3, 1, 4, 1)

In [152]:
type(x)

tuple

In [153]:
s = "Hello Everybody"
list(s)

['H', 'e', 'l', 'l', 'o', ' ', 'E', 'v', 'e', 'r', 'y', 'b', 'o', 'd', 'y']

In [154]:
print(s[1])
print(list(s)[1])

e
e

In [155]:
for a in s:
    print(a)

H
e
l
l
o

E
v
e
r
y
b
o
d
y

In [156]:
mylist

[3, 1, 4, 1]

In [157]:
#Don't expect this to work
dict(mylist)

TypeError: cannot convert dictionary update sequence element #0 to a sequence

In [158]:
mylist2 = [(3,"a"),(1,"b"),(1,"c"), (2,"c")]

In [159]:
#Remember, each key can only have one value
dict(mylist2)

{3: 'a', 1: 'c', 2: 'c'}

In [160]:
print(list(enumerate(mylist)))
print(dict(enumerate(mylist)))

[(0, 3), (1, 1), (2, 4), (3, 1)]
{0: 3, 1: 1, 2: 4, 3: 1}

In [161]:
True

True

In [162]:
False

False

In [163]:
int(True)

1

In [164]:
int(False)

0

In [165]:
4 + True

5

In [166]:
4 + False

4

In [167]:
#Say I want to get 10^7, this will return something strange
10^7

13

In [168]:
10**7

10000000