# Lectures 19-20

__Point of this section:__ Recall that lists _cannot_ go in sets, or be keys in dictionaries (since lists are mutable). 

We will see that searching a set is very fast compared to searching a tuple or a list. Searching for keys in a dictionary is also very fast.

In [99]:
r = range(0,10**7,5)
mylist = list(r)
mytuple = tuple(r)
myset = set(r)

In [101]:
0 in mylist

True

In [103]:
1 in mylist

False

In [105]:
5 in mylist

True

Now, we'll search each of these data types for a certain number and time how long it takes. We can do this using something called a _Jupyter magic_. These are functions that work because we are in Jupyter notebook. They are not native to python.

In [107]:
%%timeit #Example of a Jupyter magic
0 in mytuple

33.7 ns ± 2.31 ns per loop (mean ± std. dev. of 7 runs, 10,000,000 loops each)

Recall that ns (nanoseconds) means $10^{-9}$ seconds. Super fast, huh?

In [110]:
%%timeit
0 in mylist

28.3 ns ± 2.07 ns per loop (mean ± std. dev. of 7 runs, 10,000,000 loops each)

This result looks pretty similar to the one for `mytuple`...

In [113]:
%%timeit
0 in myset

40.7 ns ± 3.42 ns per loop (mean ± std. dev. of 7 runs, 10,000,000 loops each)

What's going on here? Searching for 0 in `myset` took longer than for `mytuple` and `mylist`. What's happening is that 0 is the first element of all of these objects, so our search time is not a good representative of what will typically happen.

To get a better idea of the speed differences, we should try a "worst-case-scenario": let's search for something that's not in our list/tuple/set at all! Let's repeat all of these computations, but search for 1 instead.

In [115]:
%%timeit
1 in mytuple

23.3 ms ± 1.95 ms per loop (mean ± std. dev. of 7 runs, 10 loops each)

Here, ms (millisecond) means $10^{-3}$ seconds.

In [117]:
%%timeit
1 in mylist

32.6 ms ± 5.32 ms per loop (mean ± std. dev. of 7 runs, 10 loops each)

Here, $\mu s$ (microseconds) means $10^{-6}$ seconds.

In [119]:
%%timeit 
1 in myset

46.5 ns ± 7.02 ns per loop (mean ± std. dev. of 7 runs, 10,000,000 loops each)

## Alternating List
__Big Goal:__ Write a function that creates a length $n$ list of alternating 3s and 7s: `[3,7,3,7,...]`

### Constant List
__Mini Goal:__ Write a function that takes as input a natural number $n$, and as output returns a length $n$ list `[3,3,3,3...]`

In this section, we'll learn the basic syntax for writing functions in python.

In [121]:
def f(n):
    mylist = []
    for i in range(n):
        mylist.append(3)

Notice in the for-loop above, the variable `i` is never used in the loop. When this is the case, people will often use `_` as the variable instead, to indicate that it won't show up.

Let's try running our function.

In [123]:
f(3)

Notice there is no error, but there's also no output! Here's how we can specify the output. The code below still has a small issue.

In [137]:
def f(n):
    mylist = []
    for i in range(n):
        mylist.append(3)
        return mylist

In [139]:
f(3)

[3]

In [141]:
f(5)

[3]

What's going on here? Notice that because `return` is in the for-loop, we exit the function right after we append one 3 to `mylist`. To fix this, we have to move `return` outside of the for-loop.

In [1]:
def f(n):
    mylist = []
    for _ in range(n):   #underscore is useful when you don't use the variable in the loop
        mylist.append(3)
    return mylist

f(8)

[3, 3, 3, 3, 3, 3, 3, 3]

Finally, our function should work as expected.

In [3]:
f(3)

[3, 3, 3]

In [5]:
f(4)

[3, 3, 3, 3]

In [7]:
f(0)

[]

In [9]:
f(7)

[3, 3, 3, 3, 3, 3, 3]

Notice I ran `f(7)` above. Within the function `n` was set to 7. But this does not persist outside of the function.

In [12]:
n

NameError: name 'n' is not defined

What if we define `n` outside of the function?

In [163]:
n = 100
f(4)

[3, 3, 3, 3]

In [165]:
n

100

The point of this was to show that input variables are locally defined.

### Alternating List - Version 1

Let's copy-paste our constant function. We will make use of it here.

In [167]:
def constant(n):
    mylist = []
    for _ in range(n):
        mylist.append(3)
    return mylist

Now we try to write our alternating function. Our strategy is to first create a length $n$ list of 3s, and then change the odd indices to be 7s.

In [171]:
def alt1(n):
    mylist = constant(n)
    for i in range(1,n,2):
        mylist[i] = 7
    return mylist

In [ ]:
#mylist[1::2] = 7   #notation like this doesn't work for python lists. Need python arrays (later in this page)

Note that calling `constant(n)` inside of `alt1(n)`, has many advantages. For one, it's less work than copying and pasting. Even further, if we realized we need to change `constant(n)`, we only need to do it in one place. If we copy-paste to multiple locations, we have to update the code in all of these locations.

In [173]:
alt1(4)

[3, 7, 3, 7]

In [175]:
alt1(5)

[3, 7, 3, 7, 3]

In [177]:
alt1(10)

[3, 7, 3, 7, 3, 7, 3, 7, 3, 7]

The nice thing about `alt1(n)` is that we didn't need to check if indices of `mylist` were even or odd.

### Alternating List - Version 2

Let's see another way of writing a function that does the same thing as `alt1(n)`. The strategy this time is to check whether an index is even or odd.

In [241]:
def alt2(n):
    mylist = []
    for i in range(n): #i represents the index of mylist
        if i%2 == 0:  #if i divided by 2 has zero for a remainder. Same as if i were even.
            mylist.append(3)
        else:
            mylist.append(7)
    return mylist

In [255]:
def alt2a(n):
    mylist = []
    for i in range(n): #i represents the index of mylist
        if i%3 == 0:  #if i divided by 2 has zero for a remainder. Same as if i were even.
            mylist.append(3)
        elif i%3 == 1:
            mylist.append(7)
        else:
            mylist.append(6)
    return mylist

Notice how we didn't need to specify an `elif`. This is because an integer only has two possible remainders when we divide by 2. If the remainder is not 0, it must be 1.

Recall: We can use `m%n` to check the remainder of `m` divded by `n`.

In [243]:
5%2

1

In [245]:
7%2

1

In [247]:
4%2

0

__Observe:__ even numbers have a remainder of 0 when we divide by 2, and odd numbers have a remainder of 1 when we divide by 2.

Now, we test `alt2(n)` a few times.

In [249]:
alt2(8)

[3, 7, 3, 7, 3, 7, 3, 7]

In [251]:
alt2(6)

[3, 7, 3, 7, 3, 7]

In [257]:
alt2a(4)

[3, 7, 6, 3]

In [259]:
alt2a(20)

[3, 7, 6, 3, 7, 6, 3, 7, 6, 3, 7, 6, 3, 7, 6, 3, 7, 6, 3, 7]

### Alternating List - Version 3

For this version of the alternating function, we will use NumPy. NumPy is one of the most important python libraries, and should remind you a lot of MATLAB. Let's start by seeing how we can import it into this notebook.

In [263]:
import numpy as np

__Note:__ 
* `np` is a standard abbreviation, and you should not use anything else when importing numpy.

* Notice that when I evaluate the cell with the import statement there is no error. If you get an error at this step, it means that NumPy is not installed on your computer. (However, Anaconda's regular installation always comes with NumPy)

In [304]:
np.zeros((3,4)) #notice the dimensions are in a tuple

array([[0., 0., 0., 0.],
       [0., 0., 0., 0.],
       [0., 0., 0., 0.]])

The data type `numpy.ndarray` should make you think $n$-dimensional array.

In [268]:
np.zeros((3,4)).shape

(3, 4)

In [270]:
A = np.zeros((3,5))
type(A)

numpy.ndarray

Notice that the following doesn't give a square array, which is what we would expect in MATLAB.

In [294]:
np.zeros(7)

array([0., 0., 0., 0., 0., 0., 0.])

In [298]:
np.zeros(7).shape

(7,)

In [300]:
np.zeros(7).ndim

1

Notice that the entires of my array are floating point numbers, not integers.

In [306]:
type(np.zeros(7)[0])

numpy.float64

In [308]:
help(np.zeros)

Help on built-in function zeros in module numpy:

zeros(...)
    zeros(shape, dtype=float, order='C', *, like=None)

    Return a new array of given shape and type, filled with zeros.

    Parameters
    ----------
    shape : int or tuple of ints
        Shape of the new array, e.g., ``(2, 3)`` or ``2``.
    dtype : data-type, optional
        The desired data-type for the array, e.g., `numpy.int8`.  Default is
        `numpy.float64`.
    order : {'C', 'F'}, optional, default: 'C'
        Whether to store multi-dimensional data in row-major
        (C-style) or column-major (Fortran-style) order in
        memory.
    like : array_like, optional
        Reference object to allow the creation of arrays which are not
        NumPy arrays. If an array-like passed in as ``like`` supports
        the ``__array_function__`` protocol, the result will be defined
        by it. In this case, it ensures the creation of an array object
        compatible with that passed in via this argument.

        .. versionadded:: 1.20.0

    Returns
    -------
    out : ndarray
        Array of zeros with the given shape, dtype, and order.

    See Also
    --------
    zeros_like : Return an array of zeros with shape and type of input.
    empty : Return a new uninitialized array.
    ones : Return a new array setting values to one.
    full : Return a new array of given shape filled with value.

    Examples
    --------
    >>> np.zeros(5)
    array([ 0.,  0.,  0.,  0.,  0.])

    >>> np.zeros((5,), dtype=int)
    array([0, 0, 0, 0, 0])

    >>> np.zeros((2, 1))
    array([[ 0.],
           [ 0.]])

    >>> s = (2,2)
    >>> np.zeros(s)
    array([[ 0.,  0.],
           [ 0.,  0.]])

    >>> np.zeros((2,), dtype=[('x', 'i4'), ('y', 'i4')]) # custom dtype
    array([(0, 0), (0, 0)],
          dtype=[('x', '<i4'), ('y', '<i4')])

In [314]:
np.zeros(7,dtype=np.int64)

array([0, 0, 0, 0, 0, 0, 0], dtype=int64)

Now let's try to use NumPy to write another version of our alternating function. We start with creating a constant array.

In [317]:
def alt3(n):
    A = np.zeros(n,dtype=np.int64)
    return A

In [319]:
alt3(4)

array([0, 0, 0, 0], dtype=int64)

In [321]:
alt3(4).shape

(4,)

In [323]:
alt3(5) + 3    #This trick works in Matlab. Does not work for lists in Python, but works for ndarrays

array([3, 3, 3, 3, 3], dtype=int64)

In [327]:
#constant with all threes
def alt3(n):
    A = np.zeros(n,dtype=np.int64) + 3
    return A

We might be tempted to think this same strategy works with lists. But this is not the case!

In [330]:
mylist = [0,0,0]

In [332]:
mylist + 3

TypeError: can only concatenate list (not "int") to list

Now, let's update our function so that the odd entries are 7s.

In [348]:
def alt3(n):
    A = np.zeros(n,dtype=np.int64) + 3
    A[1::2] = 7   #This also works in Matlab! Python lists cannot do this, but ndarrays can
    return A

Now, we test our function a few times before making some last comments.

In [350]:
alt3(10)

array([3, 7, 3, 7, 3, 7, 3, 7, 3, 7], dtype=int64)

In [346]:
alt3(4)

array([3, 7, 3, 7], dtype=int64)

Notice how `A[1::2] = 7` worked as we would expect in MATLAB. This will not work with just lists.

In [352]:
mylist = [3,1,4,1,5,9]

In [354]:
mylist[::2]

[3, 4, 5]

What if I wanted to set all of these entries to -17?

In [357]:
mylist[::2] = -17

TypeError: must assign iterable to extended slice

What's going wrong here is that I need to assign `mylist[::2]` to a list with the same number of elements.

In [360]:
mylist[::2] = [-17,-17,-17]
mylist

[-17, 1, -17, 1, -17, 9]

The point is that this is a lot more complicated than using NumPy! Notice how we needed to know exactly how long `mylist[::2]` is.

### Timing Alternating List Strategies
__Upshot:__ NumPy will be much faster than base python!

Let's start by copy-pasting our code for `alt3(n)`. Remember, this is the code that used NumPy.

In [362]:
def alt3(n):
    A = np.zeros(n,dtype=np.int64) + 3
    A[1::2] = 7
    return A

To get a more accurate time comparison, we're going to write another function `alt4(n)` which uses lists and is meant to mimic how `alt3(n)` is structured:
* Create a length n list of all 3s.
* Change all of the odd indices to be 7s.

In [364]:
def alt4(n):
    mylist = []
    for i in range(n):
        mylist.append(3)
    for i in range(1,n,2):
        mylist[i] = 7
    return mylist

Let's run a couple of test cases.

In [367]:
alt4(10)

[3, 7, 3, 7, 3, 7, 3, 7, 3, 7]

In [369]:
alt4(5)

[3, 7, 3, 7, 3]

Recall, we can use the Jupyter magic `%%timeit` to time how long it takes a block of code to run.

In [372]:
%%timeit 
alt4(10)

826 ns ± 30.8 ns per loop (mean ± std. dev. of 7 runs, 1,000,000 loops each)

We will now see a timing method that gives just the time, without all of the extra information given by `%%timeit`.

In [374]:
#comes with python, no installation
import time

In [382]:
time.time()

1731523179.9919257

This gives how much time has elapsed since the beginning of Unix time (computer time): January 1st, 1970.

In [384]:
time.time()

1731523209.1022058

Notice, if I take the difference between these two numbers, I can calculate how long I was talking for :)

Here's how we can compute the time of some computation without using Jupyter magics.

In [392]:
start = time.time()
alt4(10**5)
end = time.time()
t = end - start

In [394]:
t

0.006212949752807617

__Mini Goal:__ Use a while loop to find $n$ such that `alt4(n)` takes more than 5 seconds to run.

In [396]:
t = 0
n = 100
while t < 5:
    n = 2*n
    start = time.time()
    alt4(n)
    end = time.time()
    t = end-start

In [398]:
t

8.868999004364014

In [400]:
n

104857600

Notice: it wouldn't make sense for us to increment `n = 2*n` at the end of the while-loop. Why?

Now, let's see how much faster `alt3(n)`, our NumPy version, can run for the same `n`.

In [402]:
print(n)
start = time.time()
alt3(n)
end = time.time()
t = end-start
print(t)

104857600
0.6580393314361572

Appreciate the difference! What took base python (lists) more than 5 seconds, took NumPy about $\frac{1}{3}$ of a second.

Let's now keep our NumPy code, but return a list at the very end.

In [404]:
def alt3a(n):
    A = np.zeros(n,dtype=np.int64) + 3
    A[1::2] = 7
    return list(A)

In [406]:
print(n)
start = time.time()
alt3a(n)
end = time.time()
t = end-start
print(t)

104857600
10.714026689529419

What made `alt3a(n)` so slow? It was the fact that we converted `A` to a list.

What if we used for-loops instead of slicing in our NumPy function?

In [408]:
def alt3b(n):
    A = np.zeros(n,dtype=np.int64) + 3
    for i in range(1,n,2):
        A[i] = 7
    return A

In [410]:
print(n)
start = time.time()
alt3b(n)
end = time.time()
t = end-start
print(t)

104857600
5.392972230911255

__Takeaway:__ Using for-loops is very slow! Avoid them when you can :)

## More numpy built-in methods

Very similar to `linspace` in Matlab

In [412]:
help(np.linspace)

Help on _ArrayFunctionDispatcher in module numpy:

linspace(start, stop, num=50, endpoint=True, retstep=False, dtype=None, axis=0)
    Return evenly spaced numbers over a specified interval.

    Returns `num` evenly spaced samples, calculated over the
    interval [`start`, `stop`].

    The endpoint of the interval can optionally be excluded.

    .. versionchanged:: 1.16.0
        Non-scalar `start` and `stop` are now supported.

    .. versionchanged:: 1.20.0
        Values are rounded towards ``-inf`` instead of ``0`` when an
        integer ``dtype`` is specified. The old behavior can
        still be obtained with ``np.linspace(start, stop, num).astype(int)``

    Parameters
    ----------
    start : array_like
        The starting value of the sequence.
    stop : array_like
        The end value of the sequence, unless `endpoint` is set to False.
        In that case, the sequence consists of all but the last of ``num + 1``
        evenly spaced samples, so that `stop` is excluded.  Note that the step
        size changes when `endpoint` is False.
    num : int, optional
        Number of samples to generate. Default is 50. Must be non-negative.
    endpoint : bool, optional
        If True, `stop` is the last sample. Otherwise, it is not included.
        Default is True.
    retstep : bool, optional
        If True, return (`samples`, `step`), where `step` is the spacing
        between samples.
    dtype : dtype, optional
        The type of the output array.  If `dtype` is not given, the data type
        is inferred from `start` and `stop`. The inferred dtype will never be
        an integer; `float` is chosen even if the arguments would produce an
        array of integers.

        .. versionadded:: 1.9.0

    axis : int, optional
        The axis in the result to store the samples.  Relevant only if start
        or stop are array-like.  By default (0), the samples will be along a
        new axis inserted at the beginning. Use -1 to get an axis at the end.

        .. versionadded:: 1.16.0

    Returns
    -------
    samples : ndarray
        There are `num` equally spaced samples in the closed interval
        ``[start, stop]`` or the half-open interval ``[start, stop)``
        (depending on whether `endpoint` is True or False).
    step : float, optional
        Only returned if `retstep` is True

        Size of spacing between samples.


    See Also
    --------
    arange : Similar to `linspace`, but uses a step size (instead of the
             number of samples).
    geomspace : Similar to `linspace`, but with numbers spaced evenly on a log
                scale (a geometric progression).
    logspace : Similar to `geomspace`, but with the end points specified as
               logarithms.
    :ref:`how-to-partition`

    Examples
    --------
    >>> np.linspace(2.0, 3.0, num=5)
    array([2.  , 2.25, 2.5 , 2.75, 3.  ])
    >>> np.linspace(2.0, 3.0, num=5, endpoint=False)
    array([2. ,  2.2,  2.4,  2.6,  2.8])
    >>> np.linspace(2.0, 3.0, num=5, retstep=True)
    (array([2.  ,  2.25,  2.5 ,  2.75,  3.  ]), 0.25)

    Graphical illustration:

    >>> import matplotlib.pyplot as plt
    >>> N = 8
    >>> y = np.zeros(N)
    >>> x1 = np.linspace(0, 10, N, endpoint=True)
    >>> x2 = np.linspace(0, 10, N, endpoint=False)
    >>> plt.plot(x1, y, 'o')
    [<matplotlib.lines.Line2D object at 0x...>]
    >>> plt.plot(x2, y + 0.5, 'o')
    [<matplotlib.lines.Line2D object at 0x...>]
    >>> plt.ylim([-0.5, 1])
    (-0.5, 1)
    >>> plt.show()

Note: unlike other Python methods, the endpoint is included by default.

In [414]:
np.linspace(0,200,5)

array([  0.,  50., 100., 150., 200.])

The operation we see below also works in Matlab. It is one example of what's known as broadcasting.

In [416]:
np.zeros((3,5)) + 7

array([[7., 7., 7., 7., 7.],
       [7., 7., 7., 7., 7.],
       [7., 7., 7., 7., 7.]])

We can convert the floating point to an integer using the `dtype` keyword

In [418]:
np.ones((3,5), dtype=np.int64)*7

array([[7, 7, 7, 7, 7],
       [7, 7, 7, 7, 7],
       [7, 7, 7, 7, 7]], dtype=int64)

* Construct The $5 \times 5$ matrix 

$
\begin{pmatrix}
0 & 0 & 0 & 0 & 0 \\
1 & 1 & 1 & 1 & 1 \\
2 & 2 & 2 & 2 & 2 \\
3 & 3 & 3 & 3 & 3 \\
4 & 4 & 4 & 4 & 4
\end{pmatrix}
$

In [29]:
ThisMat = np.zeros((5,5), dtype=int)
print(ThisMat)

[[0 0 0 0 0]
 [0 0 0 0 0]
 [0 0 0 0 0]
 [0 0 0 0 0]
 [0 0 0 0 0]]

In [31]:
ThisMat[3] +3

array([3, 3, 3, 3, 3])

One strategy: loop on the rows of `ThisMat`, add `n` to each row

In [33]:
for n in range(5):
    ThisMat[n] = ThisMat[n] + n
print(ThisMat)

[[0 0 0 0 0]
 [1 1 1 1 1]
 [2 2 2 2 2]
 [3 3 3 3 3]
 [4 4 4 4 4]]

In [35]:
ThisMat[1]

array([1, 1, 1, 1, 1])

In [41]:
ThisMat[1,0]

1

`np.arange` is the numpy array version of `range`

In [43]:
range(5)

range(0, 5)

In [45]:
np.arange(5)  #Still computationally efficient, even though all elements are listed

array([0, 1, 2, 3, 4])

In [53]:
ThisMat[:,4] = np.arange(5)
print(ThisMat)

[[0 0 0 0 0]
 [0 1 2 3 1]
 [2 2 2 2 2]
 [3 3 3 3 3]
 [4 4 4 4 4]]

In [59]:
ThisMat[:]

array([[0, 0, 0, 0, 0],
       [0, 1, 2, 3, 1],
       [2, 2, 2, 2, 2],
       [3, 3, 3, 3, 3],
       [4, 4, 4, 4, 4]])

Loopless Strategy: Broadcast `np.arange(5)` across a (5,5) array

In [61]:
ThatMat = np.zeros((5,5), dtype=int)
#ThatMat[1] = [1, 2, 3, 4, 5]
ThatMat[:] = [0, 1, 2, 3, 4]  #replace every row with [1,2,3,4,5]

In [63]:
ThatMat

array([[0, 1, 2, 3, 4],
       [0, 1, 2, 3, 4],
       [0, 1, 2, 3, 4],
       [0, 1, 2, 3, 4],
       [0, 1, 2, 3, 4]])

In [71]:
ThatMat.T  #Transpose

array([[0, 0, 0, 0, 0],
       [1, 1, 1, 1, 1],
       [2, 2, 2, 2, 2],
       [3, 3, 3, 3, 3],
       [4, 4, 4, 4, 4]])

In [121]:
1/ThatMat  #pointwise division, not a true matrix inverse

C:\Users\lukea\AppData\Local\Temp\ipykernel_16184\4161609170.py:1: RuntimeWarning: divide by zero encountered in divide
  1/ThatMat  #pointwise division, not a true matrix inverse

array([[       inf, 1.        , 0.5       , 0.33333333, 0.25      ],
       [       inf, 1.        , 0.5       , 0.33333333, 0.25      ],
       [       inf, 1.        , 0.5       , 0.33333333, 0.25      ],
       [       inf, 1.        , 0.5       , 0.33333333, 0.25      ],
       [       inf, 1.        , 0.5       , 0.33333333, 0.25      ]])

Note that transpose does not change the original matrix unless you store the output

In [75]:
OurMat = np.zeros((5,5), dtype=int)
OurMat = OurMat + np.array([[1,2,3,4,5]]).T  #alternate: add a column to every column
OurMat

array([[1, 1, 1, 1, 1],
       [2, 2, 2, 2, 2],
       [3, 3, 3, 3, 3],
       [4, 4, 4, 4, 4],
       [5, 5, 5, 5, 5]])

In [126]:
[1,2,3,4,5].T   #cannot transpose a list

AttributeError: 'list' object has no attribute 'T'

In [128]:
np.array([1, 2, 3, 4, 5]).T   #can transpose a 1-dim array, but the shape doesn't change

array([1, 2, 3, 4, 5])

In [130]:
np.array([1, 2, 3, 4, 5]).shape  #Only 1-dim in shape

(5,)

In [132]:
np.array([[1, 2, 3, 4, 5]]).shape   #Double up on [[ ]] to get 2-dimensional shape

(1, 5)

In [124]:
np.array([[1, 2, 3, 4, 5]]).T #Now transpose works as expected

array([[1],
       [2],
       [3],
       [4],
       [5]])

* Construct the $2 \times 5$ matrix 

$
\begin{pmatrix}
2 & 5 & 8 & 11 & 14 \\
17 & 20 & 23 & 26 & 29
\end{pmatrix}
$

__Method 1:__ We notice that the difference between consecutive elements is 3. We'll use a for-loop to create this array.

In [4]:
import numpy as np

In [105]:
arr=np.zeros((2,5), dtype=int)
arrshape = arr.shape
for i in range(arrshape[0]):
    for j in range(arrshape[1]):
        arr[i,j] = 2 + 3*j + 3*arrshape[1]*i #np arrays can be double-indexed. Fill in the rest of this line, fitting the pattern above.
print(arr)

[[ 2  5  8 11 14]
 [17 20 23 26 29]]

__Method 2:__ use `np.arange` to get the pattern, then a new method, `reshape`

In [107]:
arr2=np.arange(2,30,3)
print(arr2)

[ 2  5  8 11 14 17 20 23 26 29]

In [117]:
arr2.reshape((2,5))

array([[ 2,  5,  8, 11, 14],
       [17, 20, 23, 26, 29]])

This can also be done in one line!

In [119]:
np.arange(2,30,3).reshape((2,5))

array([[ 2,  5,  8, 11, 14],
       [17, 20, 23, 26, 29]])